
html,body{
  margin: 0;
  overflow-x: hidden;
  background-image: linear-gradient(120deg,rgba(0, 217, 255, 0.658),rgba(0, 255, 128, 0.836));
}

.flip-card {
  background-color: transparent;
  width: 40vw;
  height: 60vh;
  border: #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  top: 20%;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
 
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 10%;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color:khaki;
  color:black;
}

/* Style the back side */
.flip-card-back {
  background-color: blanchedalmond;
  color: black;
  transform: rotateY(180deg);
}
.weatherknow
{
  font-size: 2rem;
  text-align: center;


}

.card
{ background-color: blanchedalmond;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20%;
  height: 60vh;
  width: 40vw;
  border-radius: 10%;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .5s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.5s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}
.card:hover
{
  border-radius: 10%;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.cityNameInput
{
  position: relative;
  top: 10%;
  width: 20vw;
  
}
.btn
{position: relative;
  top: 1%;
  left: 80%;
  margin-left: 1%;
}
.card1
{
  text-align: center;
 background-image:linear-gradient(120deg,rgba(42, 165, 138, 0.911),rgba(0, 153, 255, 0.795));
  margin-left: 30%;
 margin-bottom: 7%;
 margin-top:3%;
  height: 15vh;
  width: 30vw;
  border-radius: 2%;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .5s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.5s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}
.card1:hover
{

  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
header{
  text-align: center;
  color: white;
}

.card2
{
  text-align: center;
 background-color: beige;
  margin-left: 10%;
 margin-bottom: 7%;
 margin-top:7%;
  height: 20vh;
  width: 30vw;
  border-radius: 5%;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .5s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.5s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}
.card2:hover
{

  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.temp
{
  text-align: center;
  position: relative;
  top: 20%;
  left: 37%;
  justify-items: center;
  justify-content: center;
  height: 15vh;
  width: 10vw;
  border-radius: 5%;
  
  font-size: 2rem;
  
}
.others
{
  position: relative;
  top: 25%;
  left: 12%;
  border-radius: 5%;
  height: 20vh;
  width: 30vw;
  font-size: 2rem;
  
  
}

.city{ 
  position: relative;
  top: 20%;
  left: 30%;border-radius: 5%;
  height: 20vh;
  width: 15vw;
  font-size: 2rem;
  
  

}
.date{
  position: relative;
  top: 25%;
 
 font-size: 2rem;  
 
  



}
@media(max-width:700px) {
  .card{
width:100vw;
  }
  .flip-card{
    width: 100vw;
  }
  
  .others{
    width: 100vw;
    position: relative;
    left: -15px;
    text-align: center;
    justify-items: center;
    align-items: center;
    justify-content: center;
  }
  .card2{
    position: relative;
    left: 100px;
  }
.btn{
  position: relative;
  top:12px;
}
.cityNameInput
{
  width: 60vw;
}
}